page-about {
    .footer-md::before{
        top: 0; 
        bottom: 0;
       background-position: left 0 top 0;
       position: absolute;
   }
   ion-footer {
       left: 0;
       bottom: 0;
       position: absolute;
       z-index: 10;
       display: block;
       width: 100%;
   }

}
