page-prices {
    .titleTarif{
        font-weight: bold;
        text-align: center;
    }
    .paragraphe{ text-align: center;}
    ion-card-header h1{
        text-align: center;
        font-style: italic;
        background: #A5C700;
    }

}
