page-machine-detail {

    .reserve{
        font-size:0.9em;
        color:white;
        padding: 0 3px;
    }
    .image{
        width: 60%;
        margin: 0 auto;
    }
    img{
        width: 100%;
    }
    .col{
        margin: 0 !important;
        padding: 0 !important;
    }
    .button{
        padding: 5px !important;
    }
    p{
        text-align: center;

    }

}
