page-delivery {
    *{
        padding: 0;
        margin: 0;
        border:0;
    }
    h4{
        text-align: center;
        padding-top: 10px;
    }
    p{
        text-align: center;
    }
    h5{
        color:#A5C700;
        text-align: center;
    }

}
